
/*bower:scss*/
/*@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";*/
/*endbower*/

@import "reset";

/* Everything but the jumbotron gets side spacing for mobile first views */

body {
  margin: 0;
}

/*This is the grey header at the top of page*/
.container {
  height: 3em;
  background-color: #2D2E2E;
}

/* Text on the grey header*/
.header {
  font-size: 1.3em;
  color: white;
  padding-left: 1.4em;
  padding-top: 0.6em;
  padding-bottom: 0.5em;
  font-family: 'Pacifico', cursive;
}

/* Menu holds the top navigation */

.nav-box {
  border-bottom: 1px solid #ddd;
}

.menu {
  width: 24.65%;
  color: #2D2E2E;
  font-size: 1.3em;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif; font-weight: 700;
  vertical-align: top;
    border-right: 1px solid #ddd;
  padding: 0.7em 0;
  background-color: white;
}


.menu:hover {
  background: #eee;
}

a {
  color: #2D2E2E;
  text-decoration: none;
}

// #top-nav {
//   border-right: 1px solid #ddd;
//   padding: 0.7em 0;
// }

.social {
  display: inline-block;
  background-color: white;
  // width: 24.65%;
  margin: 0 1.8em;

}

.media-container {
  width: 1.5em;
  height: 1.5em;
  background-color: #2D2E2E;
  display: inline-block;
  vertical-align: bottom;
  margin: 0.8em 0;
}

.media-container img {
  width: 100%;
  height: 100%;
}

/*inner-box is the child of the outer box, main.*/
.intro {
  margin: 2em 2.3em;
}

.photo-box img {
  width: 100%;
  background-color: black;
}

.text-box {
  margin-top: 1em;
  text-align: center;
  padding-bottom: 1em;
  line-height: 2.5em;
}

/* Major Heading in the project */
.text-box h1 {
  font-size: 2.2em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-weight: 700;
  color: #2D2E2E;
}

.text-box h2 {
  font-size: 1.5em;
  font-family: 'Lato'; 
  font-weight: 400;
  font-style: italic;
  color: #7A7A7A;
}

.text-box p {
  line-height: 1.5em;
  color: #2D2E2E;
  font-family: 'Lato';
  font-size: 0.9em;
}

#dash {
  width: 3.8em;
  height: 0.25em;
  background-color: #2D2E2E;
  margin: 0.7em auto;
}

/*Begin container2 - includes intro and all portfolio content and sections*/

.container2 {
  text-align: center;
  background-color: #F5F5F5;
}

/* This gray bar spans 100% above title heading */
#bar-container2 {
  width: 100%;
  height: 0.2em;
  background-color: #E3E3E6;
  margin-bottom: 1.6em;
  clear: both;
}

.portfolio h1 {
  font-size: 2.2em;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-weight: 700;
  color: #2D2E2E;
}

/* Child of container2 - includes 'nav-portfolio' and sides-padded thin bar below title heading and thick dash */
.sub-container {
  padding: 0 0.6em;
}

.nav-portfolio {
  display: inline-block;
  text-transform: uppercase;
  padding: 2.7em 0.7em 0 0;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-weight: 300;
  font-size: 1.3em;
  color: #7A7A7A;
}

#dash-porfolio {
  width: 3.8em;
  height: 0.25em;
  background-color: #2D2E2E;
  margin: 0.7em auto;
  clear: both;
}

/* Thin side-padded bar below nav-porfolio */
#bar-portfolio {
  width: 100%;
  height: 0.1em;
  background-color: #E3E3E6;  
  margin: 1.2em auto;
}

/* Child of sub-conteiner (grandchild of container2) - begin project container with each project self-contained */

.project {
  margin: 0 1em 1em 1em;
}

/* Project image box and background above text box */
.project1 {
  // height: 14em;
  border-radius: 0.3em 0.3em 0 0;
}

.project1 img {
  opacity: 0.83;
  width: 100%;
  border-radius: 0.3em 0.3em 0 0;
  background-color: #ccc;
  vertical-align: bottom;
}

// .project1-darker img {
//   // opacity: 0.6;
//   width: 100%;
//   border-radius: 0.3em 0.3em 0 0;
//   background-color: black;
//   vertical-align: bottom;
// }

/* Text box includes title and descriptions below the project image box */
.project-text-box {
  background-color: white;
  padding: 0.7em 0.7em;
  line-height: 1.3em;
  text-align: left;
}

/* Main project title */
.project-text-box h1 {
  font-size: 1.1em;
  font-family: 'Open Sans Condensed', sans-serif; 
  font-weight: 700;
  color: #2D2E2E;
}

/* Project type */
.project-text-box h2 {
  font-size: 0.8em;
  font-family: 'Lato'; 
  font-weight: 700;
  font-style: italic;
  color: #9A9A9A;
}

/* Project description */
.project-text-box p {
  padding: 0.5em 0 0.5em 0;
  color: #2D2E2E;
  font-family: 'Lato'; 
  font-weight: 400;
  font-size: 0.9em;
}

/* Project bar */
#bar-project {
  width: 100%;
  height: 0.07em;
  background-color: #E3E3E6;  

}

/* Below descroption - Project tag types */
.project-text-box h3 {
  font-size: 0.9em;
  padding-top: 0.7em;
  font-family: 'Lato'; 
  font-weight: 400;
  color: #7A7A7A;
}

/* Page footer */
.footer {
  margin-top: 1.2em;
  background-color: white;
  padding: 0.7em 0;
}

.arrow-pic img {
  margin: 0 auto;
  height: 4em;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

.wrapper {
  position: fixed;
  z-index: 1;
  width: 100%;
}

/* This is the gray header at the top of the page */
.container {
  float: left;
  width: 60%;
}

/* Menu holds the top navigation */
.nav-box {
  display: inline-block;
  width: 40%;
  border: none;
}

.menu {
  width: 24.5%;
  font-size: 1em;
}

// .menu:hover {
//   // background: #eee;
//   display: none;
// }

#top-nav {
  border-right: 2px solid #eee;
  padding: 1em 0;
}

.social {
  padding: 0.75em 1.7em;
  margin: 0;
}

.media-container {
  // margin: 0.8em 0;
  margin: 0;
}

/*inner-box is the child of the outer box, main.*/
.main {
  overflow: scroll;
  position: fixed;
  height: 100%;
}

.intro {
  float: left;
  width: 50%;
  margin: 2em 4.1em;
}

#dash-porfolio {
  display: none;
}

.text-box {
  margin-bottom: 3em;
}

/*Begin container2 - includes intro and all portfolio content and sections*/

.container2 {
  float: right;
  width: 39.9%;
}

/* This gray bar spans 100% above title heading */
#bar-container2 {
  display: none;
}

.portfolio h1 {
  display: none;
}

/* Child of container2 - includes 'nav-portfolio' and sides-padded thin bar below title heading and thick dash */
.sub-container {

}

.nav-portfolio {
  // padding: 1.5em 0.7em 0 0;
  font-size: 1.1em;
  margin-top: 1.2em;
}

#bar-portfolio {
  margin: 0.8em auto;
}

}
